*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
}

#root{
  width: 100vw;
  height: 100vh;

  padding: 32px;
  padding-left: 100px;

  outline: none;

  display: flex;
  flex-direction: column;
  background-color: #FFF;
}

.title{
  margin: none;
  padding: none;
}

.title h1{
  font-size: 68px;
  font-weight: 300;

  margin: auto;
  padding: 22px;

  font-family: 'Vidaloka', serif;
  color: #69C191;
}

.title p{
  font-size: 24px;
  font-weight: 400;

  margin: 0;
  padding-left: 22px;

  color: #834945;
}

#form{
  position: absolute;

  width: 40%;
  height: 40%;

  padding-top: 120px;
  padding-left: 22px;

  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

#message{
  padding-bottom: 32px;

  display: flex;
  flex-direction: column;
}

#message label {
  padding-bottom: 5px;

  font-size: 15px;
  color: #834945;
}

#message input{
  height: 38px;
  padding: 5px;

  border-radius: 10px;
  border: solid 2px #69C191;

  font-size: 14px;
  font-weight: 400;
  color: #69C191;
}

#spacing {
  padding-bottom: 32px;

  display: flex;
  flex-direction: column;
}

#spacing label {
  padding-bottom: 5px;

  font-size: 15px;
  color: #834945;
}

#spacing input{
  height: 38px;
  padding: 5px;

  border-radius: 10px;
  border: solid 2px #69C191;

  font-size: 14px;
  font-weight: 400;
  color: #69C191;
}

.result{
  padding-bottom: 32px;

  display: flex;
  flex-direction: column;
}

.result input {
  height: 38px;
  padding: 5px;
  
  border: none;
  border-radius: 10px;
  background-color: #F8E8E4;
}

#sumbit{
 display: inline;

 align-items: center;
 justify-content: space-evenly;
}

#submit button{
  width: 110px;
  height: 42px;

  background-color: #F8E8E4;
  border: solid 1px #834945;
  border-radius: 10px;

  font-size: 12px;

  font-weight: bold;
  color: #834945;
}

#submit button:hover {
  width: 110px;
  height: 42px;

  background-color: #DBFFEA;
  border: solid 1px #69C191;
  border-radius: 10px;

  font-size: 12px;

  font-weight: bold;
  color: #69C191;
}

img {
  position: absolute;
  left: 54%;

  width: 550px;
  height: 550px;

  mix-blend-mode: normal;
}
